<div>
  <div>
    <h1 class="text-primary">
      List of Houses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
    </h2>
    <% if current_user != nil %>
      <form action="/insert_house" method="post">
        <div class="row g-3">
          <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Add a new house" aria-label="House Name" name="query_house_name">
          </div>
          <button class="btn btn-primary"> Add </button>
        </div>
      </form>
    <% else %>
      <p> You must be <a href="/users/sign_in">signed in</a> to add a House </p>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <% if current_user != nil %>
      
      <div class="row">

        <% @list_of_houses.each do |a_house| %>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title text-primary"><%= a_house.house_name %></h5>
                <p class="card-text">Created <%= time_ago_in_words(a_house.created_at) %> ago</p>
                <p class="card-text">Updated <%= time_ago_in_words(a_house.updated_at) %> ago</p>
                <a href="/houses/<%= a_house.id %>" class="btn btn-primary">Show Details</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>
      <p> You must be <a href="/users/sign_in">signed in</a> to view the existing houses </p>

    <%end%>

  </div>
</div>

<hr>
