<div>
  <div>
    <h1>
      List of all houses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new house
    </h2>
    <% if current_user != nil %>
      <form action="/insert_house" method="post">

        <label for="rooms_count_box"> House Name: </label>

        <input type="text" id="rooms_count_box" name="query_house_name">

        <button> Add </button>
      </form>
      <% else %>
        <p> You must be <a href="/users/sign_in">signed in</a> to add a House </p>
      <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        
        <th>
          House Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_houses.each do |a_house| %>
      <tr>

        <td>
          <%= a_house.house_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_house.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_house.updated_at) %> ago
        </td>

        <td>
          <a href="/houses/<%= a_house.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
